extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-green Bienes
            span.font-normal.text-orange Raíces  
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores
                div(class="max-w-md mx-auto my-10")
                    each error, index in errores
                        div(id="error-#{index}" class="flex items-center p-4 mb-4 text-sm text-reds border border-reds rounded-lg bg-red1 dark:text-reds dark:border-reds alert" role="alert")
                            svg(class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20")
                                path(d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z")
                            span(class="sr-only") Info
                            div
                                span(class="font-medium") 
                                | #{error.msg}
                style.
                    .alert {
                        animation: hideAlert 5s forwards;
                    }

                    @keyframes hideAlert {
                        0% {
                            opacity: 1;
                        }
                        99% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                            visibility: hidden;
                            display: none;
                        }
                    }

        .mt-8.mx-auto.max-w-md 
            .bg-white.py-8.px-4.shadow-md.rounded-md.justify-center
                form.space-y-5( method="POST" action="/auth/login") 
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div 
                        label.block.text-sm.uppercase.text-gray.mb-3.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray.rounded-md.placeholder-gray(placeholder="Escribe tu email" type="email" name="email") 
                    div 
                        label.block.text-sm.uppercase.text-gray.mb-3.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray.rounded-md.placeholder-gray(placeholder="Escribe tu password" type="password" name="password")             
                    div.flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href="/auth/registro" class="hover:underline hover:decoration-2 hover:decoration-orange") ¿No tienes cuenta? Crea una
                        a.text-gray-500.text-xs(href="/auth/olvide-password" class="hover:underline hover:decoration-2 hover:decoration-orange") Olvide mi Password


                    input(class="w-full bg-green hover:bg-orange text-white font-bold py-3 cursor-pointer rounded-md" type="submit" value="Inicar Sesión")    
                .mt-5
                        p(class="text-center text-gray font-bold")
                            | o accede con
                        
                        ul.flex.justify-center.items-center.gap-6
                            li
                                a(href="#" class="flex justify-center items-center")
                                    i(class="fab fa-google text-green text-4xl")
                            li
                                a(href="#" class="flex justify-center items-center")
                                    i(class="fas fa-cloud text-green text-4xl")
                            li
                                a(href="#" class="flex justify-center items-center")
                                    i(class="fas fa-envelope text-green text-4xl")
                            li
                                a(href="#" class="flex justify-center items-center")
                                    i(class="fab fa-facebook text-green text-4xl")
