extends ../layout/admin

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido
    div(class="py-5")
        h1(id="titulo" class="text-4xl my-10 font-extrabold text-center") Editar Perfil

        div(class="bg-white shadow rounded-lg p-5 max-w-2xl mx-auto mt-10")
            form(method="POST" action="/usuario/editar" class="space-y-5")
                div
                    label(for="nombre", class="font-bold text-gray-700") Nombre:
                    input(type="text" name="nombre" id="nombre" value=usuario.nombre placeholder="Tu nombre" class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow")

                div
                    label(for="email", class="font-bold text-gray-700") Correo:
                    input(type="email" name="email" id="email" value=usuario.email placeholder="Tu correo" class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow")

                div
                    label(for="alias", class="font-bold text-gray-700") Alias:
                    input(type="text" name="alias" id="alias" value=usuario.alias placeholder="Tu alias (opcional)" class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow")

                div
                    button(type="submit", class="bg-blue-600 text-white font-bold rounded-lg px-4 py-2 w-full") Guardar Cambios

block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")